PORT=3000
KAFKA_BROKER=localhost:29092
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fb_api_db
POSTGRES_USER=fb_api_user
POSTGRES_PASSWORD=fb_api_password
FACEBOOK_PAGE_ID=your_page_id
FACEBOOK_PAGE_ACCESS_TOKEN=your_token